<form *ngIf="!student" [formGroup]="studentForm" (ngSubmit)="onSubmit()">

      <label for="login">Enter Student Login</label>
      <input id="login" formControlName="login" placeholder="jean.dupond">

      <button type="submit" [disabled]="!studentForm.valid">Submit</button>
</form>

<p>{{this.student?.firstName}} {{this.student?.lastName}}</p>

<section *ngIf="student">
  <form [formGroup]="competenceForm" (ngSubmit)="submit()" novalidate>
    <div *ngFor="let competence of all_competences; let i=index">
      <input type="checkbox" [value]="competence.id" (change)="onCheckboxChange($event)" 
      />
      {{ competence.name}}
    </div>
    <button type="submit">Submit</button>
  </form>
</section>

<!--
<div formArrayName="competenceForm">
  <div formArrayName="numbers">
    <div *ngFor="let competence of all_competences; let i = index" >
      <p><mat-checkbox formControlName="{{competence.name}}">{{competence.name}}</mat-checkbox></p>
    </div>
  </div>
  <button type="submit">Submit</button> -->