<mat-card id="card">
  <mat-card-title>Search for a student</mat-card-title>
  <mat-card-subtitle>Enter student name</mat-card-subtitle>
  <mat-form-field id="search-box">
    <input #search id="search-bar" matInput placeholder="Search" type="text">
  </mat-form-field>
  <button (click)="searchStudent(search.value)" mat-mini-fab>
    <mat-icon>search</mat-icon>
  </button>
</mat-card>
