#card {
  max-height: 100px;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search-box {
}

#search-bar {
  margin: 0 auto;
  display: block;
}
