<mat-card id="details">
  <mat-card-title>Student details</mat-card-title>
  <ng-container *ngIf="student; else elseBlock">
    <p>{{ student.name}} {{student.surname}} - EPITA {{student.batch}}</p>
    <p>{{ student.id}} - Public key: {{student.public_key}}</p>
    <img *ngFor="let skill of skills" [src]="skill.image" class="badge">
  </ng-container>
  <ng-template #elseBlock>
    No student selected
  </ng-template>
</mat-card>
